.new-messages-title {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 40px;
  min-width: 68px;
  text-align: center;
}
.bio {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 102px;
  min-height: 40px;
  position: absolute;
  top: 328px;
  width: 262px;
}
.bio-item {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.circle {
  height: 105px;
  left: 28px;
  position: absolute;
  top: 29px;
  width: 105px;
}
.countries-traveled {
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 0px;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 283px;
  width: 168px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 23.0px;
  min-height: 71px;
  width: 70px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  min-height: 283px;
  width: 168px;
}
.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 23.0px;
  min-height: 71px;
  width: 47px;
}
.flights-boarded {
  letter-spacing: 0.00px;
  min-height: 38px;
}
.frame {
  align-items: flex-start;
  display: flex;
  height: 158px;
  justify-content: center;
  left: 0px;
  min-width: 149px;
  position: absolute;
  top: 0px;
}
.friends {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 85px;
  overflow: hidden;
  padding: 6px 19px;
  width: 103px;
}
.greeting {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 101px;
  min-height: 50px;
  position: absolute;
  top: 126px;
  width: 115px;
}
.group {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  margin-left: 36px;
  padding: 0 12px;
  width: 112px;
}
.planned-trips {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 40px;
  min-width: 55px;
  text-align: center;
}
.hello {
  letter-spacing: 0.00px;
  min-height: 21px;
}
.home {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  width: 414px;
}
.icons {
  align-items: center;
  display: flex;
  min-width: 295px;
}
.flights-box {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 168px;
}
.messages {
  align-items: flex-start;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-left: 16px;
  overflow: hidden;
  padding: 6px 17px;
  width: 103px;
}
.new-messages-number {
  align-self: center;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: 6px;
  min-height: 20px;
  min-width: 15px;
  white-space: nowrap;
}
.number-1 {
  letter-spacing: 0.00px;
  margin-top: 4px;
  min-height: 29px;
}
.number-2 {
  left: 16px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 62px;
}
.number-3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: 6px;
  min-height: 20px;
  min-width: 13px;
  white-space: nowrap;
}
.map {
  align-items: flex-start;
  align-self: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 434px;
  margin-left: -101px;
  margin-top: -126px;
  min-width: 585px;
  padding: 57px 36px;
}
.orange-pattern {
  height: 89px;
  left: 74px;
  position: absolute;
  top: 25px;
  width: 74px;
}
.overlap-group1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.12);;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-top: -1px;
  min-width: 344px;
  padding: 0 18px;
}
.overlap-group-1 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 134px;
  justify-content: flex-end;
  min-width: 164px;
  padding: 0.3px 0.1px;
}
.overlap-group-2 {
  background-size: 100% 100%;
  height: 134px;
  position: relative;
  width: 164px;
}
.trips-taken-box {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 134px;
  justify-content: flex-end;
  min-width: 164px;
  padding: 0.3px 0.1px;
}
.overlap-group-3 {
  height: 114px;
  left: 16px;
  position: absolute;
  top: 20px;
  width: 148px;
}
.overlap-group2 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 160px;
  justify-content: flex-end;
  margin-top: -1.05px;
  min-width: 151px;
  padding: 7.9px 3.4px;
}
.overlap-group6 {
  height: 242px;
  position: relative;
  width: 263px;
}
.path-6 {
  height: 144px;
  width: 144px;
}
.pattern {
  align-self: flex-end;
  height: 89px;
  margin-left: 26px;
  width: 74px;
}
.pattern-1 {
  height: 89px;
  left: 74px;
  position: absolute;
  top: 25px;
  width: 74px;
}
.pattern-2 {
  align-self: flex-end;
  height: 89px;
  margin-left: 3px;
  width: 74px;
}
.profile {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 11px;
  min-height: 24px;
  min-width: 54px;
  text-align: center;
  white-space: nowrap;
}
.profile-pic {
  height: 101px;
  left: 30px;
  position: absolute;
  top: 31px;
  width: 101px;
  border-radius: 100px;
}
.profile-pic-frame {
  align-items: flex-start;
  display: flex;
  height: 158px;
  left: 197px;
  min-width: 149px;
  position: absolute;
  top: 172px;
}
.requests {
  align-items: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-left: 16px;
  overflow: hidden;
  padding: 6px 0;
  width: 103px;
}
.saved-locations {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 168px;
}
.saved-locations-1 {
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 0px;
}
.tab-bar {
  align-items: flex-start;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-top: 37px;
  min-width: 342px;
}
.three-line-icon {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 20px;
  margin-bottom: 48.0px;
  margin-left: 148px;
  overflow: hidden;
  padding: 0.2px 0;
  width: 28px;
}
.title {
  letter-spacing: 0.00px;
  min-height: 29px;
  width: 113px;
}
.trips-taken {
  align-items: flex-start;
  display: flex;
  min-width: 168px;
}
.trips-taken-1 {
  letter-spacing: 0.00px;
  min-height: 38px;
}
.vector {
  height: 21px;
  margin-bottom: 1.0px;
  margin-left: 36px;
  width: 25px;
}
.vector-1 {
  height: 26px;
  margin-left: -1px;
  width: 26px;
}
.vector-2 {
  height: 19px;
  width: 27px;
}
.vector-3 {
  height: 26px;
  margin-left: 35px;
  width: 26px;
}
.weight {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 40px;
  min-width: 64px;
  text-align: center;
}
.three-box-group {
  align-items: flex-start;
  display: flex;
  margin-right: 1.0px;
  margin-top: 28px;
  min-width: 341px;
}
.four-box-group {
  align-items: flex-start;
  display: flex;
  height: 283px;
  margin-right: 1.0px;
  margin-top: 37px;
  min-width: 343px;
}
.x45 {
  align-self: flex-end;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-right: 19px;
  margin-top: 6px;
  min-height: 20px;
  min-width: 26px;
  white-space: nowrap;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "SF Pro Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./resources/sf-pro-text-regular.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
.border-1px-stromboli {
  border: 1px solid var(--stromboli);
}
.sfprodisplay-bold-outer-space-24px {
  color: var(--outer-space);
  font-family: var(--font-family-sf_pro_display-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.sfprodisplay-light-outer-space-18px {
  color: var(--outer-space);
  font-family: var(--font-family-sf_pro_display-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}
.sfprotext-bold-asphalt-20px {
  color: var(--asphalt);
  font-family: var(--font-family-sf_pro_text-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.sfprotext-bold-outer-space-18px {
  color: var(--outer-space);
  font-family: var(--font-family-sf_pro_text-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.sfprotext-bold-stromboli-13px {
  color: var(--stromboli);
  font-family: var(--font-family-sf_pro_text-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.sfprotext-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-sf_pro_text-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
.sfprotext-heavy-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-sf_pro_text-heavy);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}
.sfprotext-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-sf_pro_text-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.sfprotext-regular-normal-outer-space-13px {
  color: var(--outer-space);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
:root {
  --asphalt: rgba(20, 12, 7, 1);
  --font-family-sf_pro_display-bold: "SF Pro Display-Bold", Helvetica;
  --font-family-sf_pro_display-light: "SF Pro Display-Light", Helvetica;
  --font-family-sf_pro_text-bold: "SF Pro Text-Bold", Helvetica;
  --font-family-sf_pro_text-heavy: "SF Pro Text-Heavy", Helvetica;
  --font-family-sf_pro_text-regular: "SF Pro Text-Regular", Helvetica;
  --font-family-sf_pro_text-semibold: "SF Pro Text-Semibold", Helvetica;
  --font-size-l: 16px;
  --font-size-m: 13px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --outer-space: rgba(65, 76, 71, 1);
  --stromboli: rgba(42, 96, 73, 1);
  --white: rgba(255, 255, 255, 1);
}
