.home {
  position: relative;
  width: 414px;
  height: 896px;
  
  background: #FFFFFF;
}
.hello {
  position: absolute;
  width: 41px;
  height: 21px;
  left: 36px;
  top: 264px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  
  color: #424D47; 
}
.name {
  position: absolute;
  width: 140px;
  height: 43px;
  left: 35px;
  top: 285px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  
  color: #424D47;    
}
.menu-icon {
  position: absolute;
  width: 28px;
  height: 20px;
  left: 346px;
  top: 57px;  
}
.profile-picture {
  position: absolute;
  width: 101px;
  height: 101px;
  left: 277px;
  top: 239px;

  border-radius: 100px;
}
.home-location {
  position: absolute;
  left: 36px;
  top: 354px;
  bottom: 522px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  
  color: #EC744A;
}
.bio {
  position: absolute;
  left: 8.7%;
  right: 8.7%;
  top: 42.52%;
  bottom: 50.78%;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
  
  
  color: #BFC0C0;  
}
.three-boxes {
  position: absolute;
  width: 298px;
  height: 40px;
  left: 59px;
  top: 506px;  
}
.friend-requests {
  position: absolute;
  height: 20px;
  left: 14.49%;
  right: 72.71%;
  top: calc(50% - 20px/2 + 44px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  text-align: center;
  
  color: #424D47;  
}
.unread-messages {
  position: absolute;
  height: 20px;
  left: 43.24%;
  right: 43.96%;
  top: calc(50% - 20px/2 + 43px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  text-align: center;
  
  color: #424D47;  
}
.trip-invitations {
  position: absolute;
  height: 20px;
  left: 71.98%;
  right: 15.22%;
  top: calc(50% - 20px/2 + 43px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  text-align: center;
  
  color: #424D47;  
}
.four-boxes {
  position: absolute;
  width: 382px;
  height: 160px;
  left: 16px;
  top: 602px;  
}
.connections {
  position: absolute;
  left: 37.1px;
  top: 71.21%;
  bottom: 26.56%;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  color: #EC744A;  
}
.trips-planned {
  position: absolute;
  left: 222.8px;
  top: 71.21%;
  bottom: 26.56%;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  color: #EC744A;
}
.saved-locations {
  position: absolute;
  left: 37.1px;
  top: 80.13%;
  bottom: 17.63%;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  color: #EC744A;  
}
.trips-taken {
  position: absolute;
  left: 222.8px;
  top: 80.13%;
  bottom: 17.63%;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  color: #EC744A;
}
.menu {
  position: absolute;
  width: 414px;
  height: 896px;
  left: 0px;
  top: 0px;
}
.x-menu {
  position: absolute;
  left: 351px;
  right: 41px;
  top: 57px;
  bottom: 819px;
  
  stroke: #424D47;
}
.search-preferences-text {
  position: absolute;
  width: 165px;
  height: 21px;
  right: 41px;
  top: 100px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  
  color: #424D47;  
}
.account-settings-text {
  position: absolute;
  width: 145px;
  height: 21px;
  right: 41px;
  top: 127px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  
  color: #424D47;  
}
.logout {
  position: absolute;
  left: 299px;
  right: 41px;
  top: 246px;
  bottom: 629px;
}