.home {
  position: relative;
  width: 414px;
  height: 896px;
  
  background: #FFFFFF;
}
.hello {
  position: absolute;
  width: 41px;
  height: 21px;
  left: 36px;
  top: 57px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  
  color: #424D47;  
}
.name {
  position: absolute;
  width: 93px;
  height: 29px;
  left: 36px;
  top: 78px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #424D47;  
}
.menu-icon {
  position: absolute;
  width: 28px;
  height: 20px;
  left: 346px;
  top: 57px;  
}
.picture-frame {
  position: absolute;
  width: 149.33px;
  height: 157.89px;
  left: 132px;
  top: 103px;  
}
.circle {
  position: absolute;
  left: 160px;
  top: 132px;

}
.profile-picture {
  position: absolute;
  width: 101px;
  height: 101px;
  left: 162px;
  top: 134px;

  border-radius: 100px;
}
.about-me {
  position: absolute;
  width: 85px;
  height: 20px;
  left: 37px;
  top: 259px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  
  
  color: #424D47;
}
.bio {
  position: absolute;
  width: 258px;
  height: 20px;
  left: 37px;
  top: 279px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  
  
  color: #424D47;
}
.three-boxes {
  position: absolute;
  width: 341px;
  height: 85px;
  left: 36px;
  top: 336px;  
}
.friend-requests {
  position: absolute;
  height: 20px;
  left: 18.36%;
  right: 75.85%;
  top: calc(50% - 20px/2 - 49px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  
  color: #140C07;
}
.new-messages {
  position: absolute;
  height: 20px;
  left: 48.31%;
  right: 48.55%;
  top: calc(50% - 20px/2 - 49px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  
  color: #140C07;  
}
.planned-trips {
  position: absolute;
  height: 20px;
  left: 77.29%;
  right: 20.05%;
  top: calc(50% - 20px/2 - 49px);
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  
  
  color: #140C07;
}
.four-boxes {
  position: absolute;
  width: 343px;
  height: 283px;
  left: 35px;
  top: 458px;  
}
.trips-taken {
  position: absolute;
  width: 18px;
  height: 29px;
  left: 51px;
  top: 520px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #FFFFFF;  
}
.saved-locations {
  position: absolute;
  width: 16px;
  height: 29px;
  left: 51px;
  top: 669px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #FFFFFF;  
}
.saved-locations-clickable {
  position: absolute;
  width: 164px;
  height: 134px;
  left: 35px;
  top: 607px;
  
  background: transparent;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.countries-traveled {
  position: absolute;
  width: 18px;
  height: 29px;
  left: 230px;
  top: 520px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
.flights-boarded {
  position: absolute;
  width: 18px;
  height: 29px;
  left: 230px;
  top: 669px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
.menu {
  position: absolute;
  width: 414px;
  height: 896px;
  left: 0px;
  top: 0px;
}
.x-menu {
  position: absolute;
  left: 351px;
  right: 41px;
  top: 57px;
  bottom: 819px;
  
  stroke: #424D47;
}
.search-preferences-text {
  position: absolute;
  width: 165px;
  height: 21px;
  right: 41px;
  top: 100px;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  
  color: #424D47;  
}
.logout {
  position: absolute;
  left: 299px;
  right: 41px;
  top: 246px;
  bottom: 629px;
}