.arrow-button {
  position: relative;
  height: 48px;
  margin-top: 29px;
  margin-bottom: 29px;
  width: 48px;
  color: #638074;
}
.register-success {
  position: relative;
  width: 414px;
  height: 896px;
  background: #ffffff;
}
.text-with-lines {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.text-top-padding {
  color: #638074;
  margin-top: 40px;
}
.text-bot-padding {
  color: #bfc0c0;
  margin-bottom: 40px;
}
.h2-span {
  background: #fff;
  padding: 0 10px;
  color: #638074;
}
