.selection-bar {
  position: absolute;
  left: 36px;
  right: 36px;
  top: 168px;
  bottom: 690px;
}
.map-selected {
  position: absolute;
  left: 69px;
  right: 220px;
  top: 160px;
  bottom: 686px;  
}
.list-view {
  position: absolute;
  height: 24px;
  left: 267px;
  top: 176px;
  
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  text-align: center;
  
  color: #BDCAC2;  
}