.my-interests {
    position: absolute;
    width: 114px;
    height: 21px;
    left: 150px;
    top: 168px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
    color: #424D47;    
}
.search-preferences-tags {
    position: absolute;
    width: 343px;
    height: 225px;
    top: 206px;    
}
.my-location {
    position: absolute;
    width: 110px;
    height: 21px;
    left: 152px;
    top: 462px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
    color: #424D47;    
}
.my-location-box {
    position: absolute;
    width: 328px;
    height: 45px;
    left: 43px;
    top: 500px;
    padding: 0px 31px 0px 31px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #424D47;    
    
    border: 1px solid #BDCAC2;
    box-sizing: border-box;
    border-radius: 27px;
}
.scooter-img {
    position: absolute;
    left: 36px;
    right: 36px;
    top: 575px;
    bottom: 128.77px;    
}