.gradient {
  position: fixed;
  left: 0px;
  top: 683px;
}
.tab-bar {
  position: fixed;
  left: 36px;
  top: 778px;
  bottom: 46px;
}
.white-box {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.12);;
  display: flex;
  height: 74px;
  margin-top: -1px;
  min-width: 344px;
}
.tab-not-pressed {
  height: 49px;
  margin-top: -0.25px;
  position: relative;
  width: 177px;
}
.plan-icon {
  height: 26px;
  left: 152px;
  position: absolute;
  top: 24px;
  width: 26px;
}
.connect-icon {
  height: 21px;
  left: 92px;
  position: absolute;
  top: 26px;
  width: 25px;
}
.explore-icon {
  height: 24px;
  left: 30px;
  position: absolute;
  top: 24px;
  width: 24px;
}
.profile-icon {
  height: 24px;
  margin-top: 0.0px;
  width: 24px;
}
.tab-pressed {
  align-items: center;
  align-self: center;
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  margin-left: 37px;
  padding: 0 12px;
  width: 112px;
}
.profile {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 54px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  text-align: center;
  
  color: #FFFFFF;
}